src/__pycache__/deck.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/neurons.cpython-38.pyc
src/__pycache__/play.cpython-38.pyc
src/__pycache__/player.cpython-38.pyc
src/global.json
conf/global.json
src/__pycache__/gene.cpython-38.pyc
src/__pycache__/species.cpython-38.pyc
src/__pycache__/pool.cpython-38.pyc
src/__pycache__/utils.cpython-38.pyc
